<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitHost" value="103.163.216.115" />
    <add key="RabbitPort" value="5672" />
    <add key="RabbitUserName" value="web_push" />
    <add key="RabbitPassword" value="123465" />
    <add key="RabbitVHost" value="booking_car" />
    <add key="RabbitQueue" value="QUEUE_PROCESS_IMAGE_SCREEN_TEST" /> <!-- Queue name này sẽ phân biệt job xử lý hình ảnh -->   
    <add key="RabbitQueueImageAnalyze" value="QUEUE_PROCESS_IMAGE_ANALYZE_TEST" /> <!--    Queue nay dung de chứa các Link Banner tren n8n -->
    <add key="RabbitQueueScreenLink" value="QUEUE_PROCESS_IMAGE_ANALYZE_LINK_TEST" /> <!--Queue name này dùng để nhận dữ liệu ảnh và link click từ banner trên mặt trang-->
    <add key="task" value="screen_banner" /> <!--nhiem vu cu the cua bot. screen_banner la chup banner, screen_link_page: la chup page cua link -->
    <add key="is_pro" value="0" />
    <add key="PATHLOG" value="logs" />
    <add key="is_headless" value="0" />  <!--  1: không bật trình duyệt, 0: bật trình duyệt -->
    <add key="Websites" value="https://vnexpress.net,https://thanhnien.vn,https://tuoitre.vn/" />
    <add key="RabbitUseSSL" value="0" />
    <!-- Publish analyze payload: 0 = JSON(base64), 1 = raw JPEG bytes -->
    <add key="AnalyzePublishRaw" value="0" />
    
    <add key="DISPLAY" value="0" />

   

  </appSettings>
</configuration>
