<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitHost" value="rabbit.adavigo.com" />
    <add key="RabbitPort" value="5672" />
    <add key="RabbitUserName" value="web_push" />
    <add key="RabbitPassword" value="123465" />
    <add key="RabbitVHost" value="booking_car" />
    <add key="RabbitQueue" value="QUEUE_PROCESS_IMAGE_SCREEN" />    
    <add key="is_pro" value="0" />
    <add key="PATHLOG" value="logs" />
    <add key="is_headless" value="0" />
    <add key="Websites" value="https://vnexpress.net,https://thanhnien.vn,https://tuoitre.vn/" />
    
    <add key="DISPLAY" value="0" />
  </appSettings>
</configuration>
